// Feature part

.features {
  display: flex;
  gap: $spacing-1000;
  max-width: 1170px;
  width: 100%;
}

.feature-image img {
  width: 560px;
  height: 520px;
  border-radius: 20px;
  object-fit: cover;
}

.feature-text {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.feature-list {
  width: 431px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inside-list-feature {
  display: flex;
  gap: 14px;
}
