// Footer

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: $spacing-200;
  border-top-right-radius: $spacing-200;
  padding-top: $spacing-1000;
  padding-right: 135px;
  padding-left: 135px;
  gap: $spacing-800;
  background-color: $neutral-900;
}

.final-message {
  width: 100%;
  max-width: 753px;
  display: flex;
  flex-direction: column;
  gap: $spacing-500;
  text-align: center;
  align-items: center;
}

.final-message h2 {
  max-width: 685px;
  width: 100%;
}
