// Main container

.main-container {
  display: flex;
  align-items:center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  // max-width: 1440px;
  // width: 100%;
  gap: 120px;
  background-color: $neutral-0;
}

// Responsivity

@media (max-width: 950px) {
  .main-container {
    width: auto;
  }
}
