// Main container

.main-container {
  display: flex;
  align-items:center;
  position: relative;
  flex-direction: column;
  max-width: 1440px;
  gap: 120px;
  background-color: $main-background-color;
}
