// Main container

.main-container {
  display: flex;
  flex-direction: column;
  gap: 120px;
  background-color: $main-background-color;
}

// Top page
.top-page {
  display: flex;
  flex-direction: column;
  gap: $spacing-1000;
  padding-top: $spacing-400;
  padding-bottom: $spacing-1000;
  padding-left: 135px;
  padding-right: 135px;
  background-color: #FAF5F3;
  background-image:
    url('../../assets/illustrations/Vector.svg');
    // url('../../assets/illustrations/glow-bg.svg');

  background-repeat: no-repeat;

  border: 1.2px solid;
  border-image-source: radial-gradient(
    37.55% 33.81% at 50% 75.06%,
    rgba(10, 13, 22, 0.01) 20.5%,
    rgba(10, 13, 22, 0.04) 100%
  );
}

// Top page navbar
.top-page nav {
}

.top-page nav p {
  font-family: $font-family-title;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.06em;
  color: rgba(6, 38, 48, 1);
}

// Top page grid
.top-page-grid {
  display: flex;
  gap: $spacing-800;
}

// Top page text part
.top-page-info-part {
  display: flex;
  flex-direction: column;
  gap: $spacing-400;
  width: 570px;
}

.top-page-intro {
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
}

.top-page-intro h1 {
  background: linear-gradient(107.24deg, #FEA36F -11.37%, #062630 61.84%);
  background-clip: text;
  color: transparent
}

.top-page-adhesion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-250;
}

// Top page image part
.hero-image {
  width: 540px;
  height: 606px;
  border-radius: 8px;
}

// Glow

// .glow {
//   position: absolute;
//   z-index: 0;
// }
