// Lecture section

.logo-center {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  left: 530px;
  bottom: 30px;
  z-index: 1;
}

.bottom-logos {
  display: flex;
  align-items: start;
  gap: 21.56px;
}

.lecture-section {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  gap: $spacing-1000;
}

.lecture-section-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
}

.highlighted-word {
    position: relative;
    z-index: 0;
    display: inline-block;
}

.highlighted-word img {
  position: absolute;
  z-index: 1;
  left: -10px;
  bottom: -2px;
}

.lecture-image-part {
  width: 560px;
  height: 520px;
}

.lecture-image-part img {
  border-radius: 20px;
}
