// Lecture section

.logo-center {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  left: 530px;
  bottom: 30px;
  z-index: 1;
}

.bottom-logos {
  display: flex;
  align-items: start;
  gap: 21.56px;
}

.lecture-section {
  position: relative;
  display: flex;
  align-items: center;
  gap: $spacing-1000;
}

.lecture-section-text {
  width: 100%;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
}

.lecture-section-text h2 {
  width: 100%;
  max-width: 534px;
  color: $neutral-900;
}

.highlighted-word {
  position: relative;
  z-index: 0;
  display: inline-block;
}

.highlighted-word img {
  position: absolute;
  z-index: 1;
  left: -10px;
  bottom: -2px;
}

.lecture-section-text p {
  width: 100%;
  color: $neutral-700;
}

.lecture-image-part {
  width: 560px;
  height: 520px;
}

.lecture-image-part img {
  border-radius: $radius-20;
}

//Responsivity

@media (max-width: 1115px) {
  .lecture-section {
    flex-direction: column;
  }

  .logo-center {
    left: 200px;
    bottom: 455px;
  }
}
