// Testimonial

.testimonial-part{
  max-width: 970px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-400;
  align-items: center;
}

.rating-container {
  display: flex;
  gap: $spacing-075;
}

.star-container {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-400;
  text-align: center;
}

.comment h3 {
  color: $neutral-900;
  width: 100%;
}

.comment p {
  color: $neutral-700;
}

// Responsivity

@media (max-width: 980px) {
  .testimonial-part {
    max-width: 530px;
    width: 100%;
  }
}
