.primary-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-200;
  font-family: $font-family-header;

  border-radius: 8px;
  border-width: 2px;

  padding-top: $spacing-250;
  padding-right: $spacing-300;
  padding-bottom: $spacing-250;
  padding-left: $spacing-300;

  background: $light-salmon-50;
  color: $neutral-900;

  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.primary-button:hover {
  background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}

.primary-button:focus {
  box-shadow: 0px 0px 0px 3px $main-background-color, 0px 0px 0px 5px $neutral-700;
}

.arrow-down {
  width: 24px;
  height: 24px;
}
