h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;
  letter-spacing: -2px;
}

h1, h2 {
  font-family: $font-family-header;
}

.text-preset-5 {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: $neutral-700;
}

.text-preset-6 {
  font-family: $font-family-header;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -1px;
  color: $neutral-900;
}

.text-preset-7 {
  font-family: $font-family-header;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -1px;
  color: $neutral-700;
}
