@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Fira+Code:wght@300..700');

// Font family
$font-family-header:"Martian Mono", monospace;
$font-family-base:"Inter", sans-serif;
$font-family-title:"Fira Code", monospace;

// Spacing
$spacing-0: 0px;
$spacing-050: 4px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-250: 20px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;

// Colors
$main-background-color: #FFFFFF;
$neutral-700: #385159;
$neutral-900: #062630;
$light-salmon-50: #FFF5EF;
