@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Fira+Code:wght@300..700');

// Font family
$font-family-header:"Martian Mono", monospace;
$font-family-base:"Inter", sans-serif;
$font-family-title:"Fira Code", monospace;
